<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" src="" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Receita nome</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button (click)="event-handler()" class="btn btn-primary dropdown-toggle">Configurações <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Adicionar para Lista de Compras </a></li>
        <li><a href="#">Editar Receita</a></li>
        <li><a href="#">Deletar Receitar </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Descrição
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredientes
  </div>
</div>